{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
<style>
  input[type=text] {
       width: 200px;
       margin: 30px 0;
    }

  textarea[type=text] {
       margin: 30px 0;
       rows:"8";
       cols:"15";
       resize: none;
    }

</style>


<h3>{{message}}</h3>

<h2>{{title}}</h2>
<br>

<form  action="{% url 'encyclopedia:EditPage'  %}"  method="post" width=90% >
   {% csrf_token %}
   {{form}}
   <label for="content"><h4>Change Encyclopedia Item :</h4></label>
   <textarea type="text" id="content" name="content" required >{{content}}</textarea>
    <form class="form-inline" style="position:relative">
        <p>  <button type="button" class="btn btn-info" onclick="showNewcontent()">See New content</button>
          <button type="submit" class="btn btn-success">Save New Content</button>
          <button type="button" class="btn btn-danger">
          <a href="{% url 'encyclopedia:index' %}">Cancel</button></p>
     </form>

<p id="NewContetToSave"></p>
</form>

<script>
function showNewcontent() {
  var x = document.getElementById("content").value;
  document.getElementById("NewContetToSave").innerHTML = x;

}
</script>

{% endblock %}
