{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page

{% endblock %}

{% block body %}
<style>
  input[type=text] {
       width: 200px;
       margin: 30px 0;
    }

  textarea[type=text] {
       margin: 30px 0;
       rows:"8";
       cols:"15";
       resize: none;
    }

</style>


<h3>{{message}}</h3>

<h2>{{title}}</h2>
<br>

<form  action="{% url 'encyclopedia:EditPage' title=title %}"  method="post" width=90% >
   {% csrf_token %}

   <h4>Change Encyclopedia Item :</h4>
   <textarea type="text" wrap="hard"  name="NewTextArea" >   {{content}}
   </textarea>

   <br>
   <form class="form-inline" style="position:relative ; top:15px" >
    <p>  <button type="submit" onclick=showNewTextArea() class="btn btn-success">Save New Content</button>
          <button type="button" class="btn btn-danger">
          <a href="{% url 'encyclopedia:index' %}">Cancel</button>
    </p>
    </form>
</form>

<script>
function showNewTextArea() {
  var x = ""; var depois = "";
  var x = document.getElementById("content").value;
  document.getElementById("NewTextArea").innerHTML = x;
  var depois = document.getElementById("NewTextArea").value;
  alert(x);
}
</script>



{% endblock %}
