{% extends "encyclopedia/layout.html" %}
. The title of the page should include the name of the entry.

{% block title %}
     {{pagename}}
{% endblock %}

{% block body %}


{%if tipo == "Search"%}
<form action="{% url 'encyclopedia:Search'  %}" method="post">
{%endif%}

{%if tipo == "ListEntry"%}
<form action="{% url 'encyclopedia:EntryPage' %}" method="post">
{%endif%}

    {% csrf_token %}
  
    {% for content in contents %}
        <li>{{title}}</li>
        <li>{{content}}</li>
    {% empty %}
        <li>No content.</li>
    {% endfor %}
</form>



{% endblock %}
