{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia


{% endblock %}

<!--Criar link para todas as páginas -
    Index Page: Update index.html such that, instead of merely listing the names
    of all pages in the encyclopedia, user can click on any entry name to be taken
    directly to that entry page -->
{% block body %}
    <h1>All Pages</h1>
    <form action="{% url 'encyclopedia:EntryPage' pagename %}" method="post">
          {% csrf_token %}
          {{ form }}
          <ul>
           {% for entry in entries %}
               <li><a href= 'wiki/{{ entry }}'  name='wiki/{{ entry }}' id='wiki/{{ entry }}' onclick="myredirec(id)" >{{ entry }}</a></li>

           {% endfor %}
          </ul>
    </form >

    <script>

       function  myredirec(id){
          var pagename;
          pagename =  id;
          alert(pagename);
         /*response.sendRedirect("EntryPage");*/
          }
    </script>




{% endblock %}
