{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page

{% endblock %}

{% block body %}

<style>
  input[type=text] {
       width: 200px;
       margin: 30px 0;
    }

  textarea[type=text] {
       margin: 30px 0;
       width:90%
      /* rows="10";
       cols="30";*/

    }

</style>


<div class ="flex-container"  >
    <form  action= "{% url 'encyclopedia:NewPage' %}" method="post">
        <br>
        <label for="NewTitle"><b>Research Title Name :</b></label>
        <p>Please choose a word to tag your Item.<p>
        <input type="text" class="form-control" id="NewTitle" name="NewTitle" placeholder="Title for research" required>

        <br>
        <label for="NewItem"><b>Your New Encyclopedia Item :</b></label>
        <textarea type="text" class="form-control" id="NewContent" name="NewContent" placeholder="Place here your information" required ></textarea>

        <br>
        <form class="form-inline">
             <button type="button" class="btn btn-success">Post</button>
             <button type="button" class="btn btn-danger"><a href="{% url 'encyclopedia:index' %}">Cancel</button>
        </form>
    </form>
</div>

<script>
    function goback()
       {
         window.history.back();
       }
</script>
{% endblock %}
