{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}


{% block body %}

    <h1> {{message}} </h1>


  <!--  <form action="{% url 'encyclopedia:Search' %}" method="post">-->
         {% csrf_token %}
         <h2>See all {{count}} files results for your search, {{seekword}}</h2>
         {%if count > 0 %}
         <h3>   Please click one for details:</h3>
         {%endif%}

         <ol>
         {% for titulo in TitulosAchados %}

            <h4 > <li> <a href= "{% url 'encyclopedia:EntryPage' entry=titulo %}" > {{ titulo }} </a> </li> <h4>

         {% endfor %}
          </ol>
  <!--  </form >-->

{% endblock %}
