{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}


{% block body %}
    <h2>See all results for your research, please click one for details:</h2>
    <b > {{message}}</b}

    <form action="{% url 'encyclopedia:Search' %}" method="post">
         {% csrf_token %}
    <!--     <ul>
         {% for entry in entries %}
           <li><a href= "{% url 'encyclopedia:EntryPage' entry %}">{{ entry }}</a></li>
         {% endfor %}
      </ul>-->
    </form >

{% endblock %}
