{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}


{% block body %}
    {%if count == 0 %}
    <h1> {{message}} </h1>
    {%endif %}

    {%if count > 0 %}

    <form action="{% url 'encyclopedia:Search' %}" method="post">
         {% csrf_token %}
         <h2>See all {{count}} results for your research, {{seekword}}</h2>
         <h2>   please click one for details:</h2>
         <ul>
         {% for entry in TitulosAchados %}
               {{ entry }}
             <!--<li><a href= "{% url 'encyclopedia:EntryPage' TituloComTexto %}">{{ TituloComTexto }}</a></li>-->
         {% endfor %}
          </ul>
    </form >
    {%endif %}
{% endblock %}
